{% extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block content %}
<h1>Hello from Us!</h1>
    <form action="{{ url_for('save') }}", method="POST">
        <label><h2>First Name</h2></label>
        <input type="text" name="name" value="" autofocus>
        <label><h2>Last Name</h2></label>
        <input type="text" name="name" value="" autofocus>
        <label><h2>D.O.B</h2></label>
        <input type="text" name="name" value="" autofocus>
        <input type="submit" value="Submit">
    </form>
{% endblock %}